*{
    margin: 0;
    padding: 0;
    background-color: solid white;
}

.header{
    background: linear-gradient(to right, #F28D17 0%, #FFC27D 100%);
    height: 65px;
}

nav{
    float: right;
    padding-right: 145px;
    padding-top: 25px;
}

a{
    color: palegoldenrod;
    text-decoration: none;
    padding: 30px;
    font-weight: bold;
    
}

.login{
    color: #F28D17;
    background-color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

a:hover{
    color: white;
}

.logo{
    padding-left: 145px;
    padding-top: 10px;
}

.login:hover{
    background-color: #F28D17;
    color: #fff;
}

.container{
    height: 295px;
    width: 100%;
    background: linear-gradient(to right, #F28D17 0%, #FFC27D 100%);
    color: #fff;
    
}

h1{
    padding-top: 25px;
    text-align: center;
    
}
.pera1{
    text-align: center;
    padding-bottom: 15px;
    
}

.midea{
    text-align: center;
    padding-bottom: 45px;
}
.vidlogo{
    
    box-shadow: 0px 0px 3px 3px #212529;
    
}

video{
    height: 612px;
    width: 1000px;
    padding:0px;
    margin:0px;
    box-shadow: 0px 0px 3px 3px #212529;
    
}

.heading{
    display: flex;
    justify-content: center;
    text-align: center;
}
.head{
    background-color: #d1ecf1;
    color: #0c5460;
    width: 1150px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size:x-large ;
    
    
}

.more{
    color: #F28D17;
    font-weight: bold;
    font-size:x-large ;
    padding: 0px;
}

.more:hover{
    color: #b86910;
    
}

.nav2{
    text-align: center;
    padding-top: 40px;

}

.nav2 a{
    color: #f28d17;
    text-align: center;
    font-size: x-large ;
}

.head2{
    color: #f28d17;
    padding-left: 150px;
    padding-top: 50px;
}

.pera2{
    color: #000;
    padding-left: 140px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: inline;
}

.link1{
    color: #F28D17;
    padding: 0;
    
}

.link2{
    margin-left: 180px;
    color: white;
    background-color: #F28D17;
    padding: 15px 25px;
    align-self: right;
}

#table1{
    display: flex;
    justify-content: center;
    border-spacing: 0;

}

.tabel1{
    border-collapse: collapse;
    
}
td, tr{
    color: #F28D17;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #dee2e6;

}

th{
    
    color: #000000;
    text-align: center;
    padding: 25px 80px;
    border-radius: 10px;
}

.login{
    background: linear-gradient(to right, #FFC27D 0%, #F28D17 100%);
    color: white;
    height: 120px;
    border-radius: 0px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    
}

.login a{
    padding: 0px;
    color: white;
    text-decoration: underline;
}

.head3{
    color: #F28D17;
    padding-top: 50px;
}

.company p{
    color: #000;
    padding-left: 125px;
    padding-right: 125px;
    font-weight: bolder;
}

.company a{
    color: #F28D17;
    padding: 0px;
}

.company img
{
    display: flex;
    padding-left: 350px;
}

hi256
w380

.head4{
    padding-top: 50px;
}


.grid{
    height: 256px;
    width: 380px;
    text-align: center;
}

.box1{
    display: block;
    float: left;
}

.box2{
    display: block;
    float: right;
}

